<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e5f797">  <td>24/05/25 16:03:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Test_Login()[pri:0, instance:TestCaseScripts.Login@25fb8912]">Test_Login</td> 
  <td>main@2032079962</td>   <td></td> </tr>
<tr bgcolor="7787a5">  <td>24/05/25 16:03:21</td>   <td>13513</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;StartBrowser.afterClass()[pri:0, instance:TestCaseScripts.Login@25fb8912]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2032079962</td>   <td></td> </tr>
<tr bgcolor="7787a5">  <td>24/05/25 16:03:05</td>   <td>-2439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartBrowser.beforeClass()[pri:0, instance:TestCaseScripts.Login@25fb8912]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2032079962</td>   <td></td> </tr>
<tr bgcolor="7787a5">  <td>24/05/25 16:03:05</td>   <td>-2938</td> <td>&nbsp;</td><td title="&gt;&gt;StartBrowser.generateReport()[pri:0, instance:TestCaseScripts.Login@25fb8912]">&gt;&gt;generateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2032079962</td>   <td></td> </tr>
<tr bgcolor="7787a5">  <td>24/05/25 16:03:08</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartBrowser.methodName(java.lang.reflect.Method)[pri:0, instance:TestCaseScripts.Login@25fb8912]">&gt;&gt;methodName</td> 
<td>&nbsp;</td>  <td>main@2032079962</td>   <td></td> </tr>
</table>
